# Detect text files automatically
* text=auto

# Force Unix-style line endings on these files
Vagrantfile text eol=lf
*.sh eol=lf
*.d eol=lf
*.tcl eol=lf

# Force CRLF line endings on these files
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# These files are binary
# (important for Windows Printer Driver files)
*.ps binary
*.exe binary
*.cat binary
*.dll binary
*.ppd binary
*.ini binary
